<div class="min-h-screen w-full bg-gray-50 bg-center bg-no-repeat bg-cover" style="background-image: url('<%= asset_path("landing_bg.jpg") %>')">


  <div id="background"></div>

  <!-- Hero Section -->
  <section class="flex flex-col items-start justify-center px-34 py-47 ">
    <h2 class="max-w-2xl text-6xl font-bold md:text-5xl text-white">
      Connecting businesses with freelancers who deliver
    </h2>

    <p class="max-w-xl mt-6 text-xl text-white">
      Hire experts for your next project and get work done faster.
    </p>

    <div class="mt-10">
       <%= link_to "Get Started", new_user_session_path, class: "px-8 py-3 text-lg text-white bg-green-600 rounded-lg hover:bg-green-700" %>
    </div>
  </section>
</div>

 